{% extends 'base.html.twig' %}

{% block content %}
    <h1>User's Assets</h1>
    <ul>
        {% for asset in userAssets %}
            <li>{{ asset.name }} - {{ asset.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
